* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

#capa {
    background-color: #c2c2dc;
}

#about {
    background-color: #baa4b3;
}

#scenes {
    background-color: #c3dfdb;
}

.titulo {
    font-size: 30px;
    margin-left: 215px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.store-front img {
    height: 24px;
}


header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

header nav li a:hover {
    color: #cb9904;
    
}

.container,
.video1,
.video2,
.store-front,
.titulo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.video1,
.video2 {
    margin-top: 10px;
    margin-bottom: 25px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
}

#about h2,
#scenes h2 {
    margin-top: 25px;
}

#about p,
#scenes p {
    font-size: 20px;
}

#scenes p {
    display:block;
    margin-top: 20px;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

#by {
    margin-left: 900px;
}