* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.store-front,
.video1,
.video2,
.titulo,
#about h2,
#scenes h2 {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 7px;
    justify-content: space-between;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1 {
    padding: 0 7px;
}

.container img {
    margin-bottom: 10px;
}

#capa {
    background-color: #c2c2dc;
}

#about {
    background-color: #baa4b3;
}

#scenes {
    background-color: #c3dfdb;
}

#contact {
    background-color: #d5b75a;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

@media screen and (max-width: 768px) {
    header nav li {
        display: inline-block;
        margin-left: 60px;
        padding: 2px;
    }
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

header nav li a:hover {
    color: #d5bf7f;
    
}

.titulo {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.video1,
.video2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
}

#about h2,
#scenes h2,
#contact h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#about p {
    padding: 0 7px;
    font-size: 20px;
}

#scenes p {
    font-size: 20px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 0 90px;
}

@media screen and (max-width: 768px) {
    #scenes p {
        font-size: 20px;
        margin: 0 auto 0 15px;
    }
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

#by {
    margin-left: 900px;
}
